@page
@model IndexModel
@{
    ViewData["Title"] = "Feeding Schedules";
}

<h1>Feeding Schedule</h1>

<table class="table">
    <thead>
        <tr> <!--head row-->
            <th>Animal</th>
            <th>Species</th>
            <th>Feeding Time</th>
            <th>ZooKeeper</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var schedule in Model.FeedingSchedules)
        {
            <tr>
                <td>@schedule.name</td>
                <td>@schedule.species</td>
                <td>@schedule.feeding_time</td>
                <td>@schedule.last_name</td>
            </tr>
        }
    </tbody>
</table>